# Entornos virtuales
venv/
.env
.venv
mcp/

# Archivos de configuración de entornos virtuales
*.DS_Store
# Archivos de configuración de Python
*.pyc

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo

# Archivos temporales
*.log
*.tmp
*.swp
*.bak

# Archivos de bases de datos
*.sqlite3
*.db

# VSCode settings
.vscode/

# Archivos de entorno y configuración personal
*.env
.env.*
!.env.example
firebase_credentials.json

# Docker
*.pid
*.sock
*.tar
*.img
docker-compose.override.yml
